*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
# dist # we want the distribution zip files to appear on github
build
eggs
src
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# CONFIG
secret*

# VENV
pyvenv.cfg
./tmp/

# Log files
log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo

# PyCharm
.idea

# sublime text
*.sublime-workspace
*.sublime-project

# Wing IDE
*.wpu
*.wpr

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# some local development scripts:
doctest_runner.py
dev.py
dev
